/*CONFIG*/
/*colors*/
/*fonts*/
@font-face {
  font-family: 'gagalinregular';
  src: url("../fonts/gagalin-regular-webfont.woff2") format("woff2"), url("../fonts/gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("../fonts/lifehack_medium-webfont.woff2") format("woff2"), url("../fonts/lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntubold';
  src: url("../fonts/ubuntu-b-webfont.woff2") format("woff2"), url("../fonts/ubuntu-b-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntulight';
  src: url("../fonts/ubuntu-light-webfont.woff2") format("woff2"), url("../fonts/ubuntu-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubuntumedium';
  src: url("../fonts/ubuntu-medium-webfont.woff2") format("woff2"), url("../fonts/ubuntu-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ubunturegular';
  src: url("../fonts/ubuntu-regular-webfont.woff2") format("woff2"), url("../fonts/ubuntu-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  line-height: 1.42;
  font-family: 'ubuntu';
  font-weight: 200;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

footer {
  position: relative;
  width: 100%; }

.wrap {
  position: relative;
  width: 100%;
  min-width: 940px +20px;
  min-height: 100%;
  overflow: hidden; }

.section {
  height: 100vh;
  min-height: 650px; }

.container {
  margin: 0 auto;
  height: 100%;
  width: 940px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.title {
  font-family: 'gagalin';
  font-size: 72px;
  color: #f9b43b;
  margin-bottom: 0; }
  .title--color_gray {
    color: #2f3234; }
  .title--align_center {
    text-align: center; }

.subtitle {
  font-family: 'lifehack';
  font-size: 65px;
  color: #fff;
  line-height: 1.1; }

.side-nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: fixed;
  top: 125px;
  right: 45px;
  width: 10px;
  height: 170px; }

.side-nav__link {
  position: relative;
  display: block;
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%; }
  .side-nav__link:hover:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 1px solid #fff; }

/*SECTIONS*/
.burger {
  background-image: url(../img/bg/burgers-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }

.burger__container {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.header {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.nav {
  margin-left: auto;
  margin-right: 20px; }

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.nav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .nav__item:first-child::before {
    display: none; }
  .nav__item:before {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background: #fff;
    border-radius: 50%;
    margin: 0 16px; }

.nav__link {
  font-weight: 400;
  color: #fff;
  text-decoration: none; }

.btn {
  font-weight: 400;
  padding: 9px 16px;
  background: #e45028;
  border-radius: 7px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none; }

.burger__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0.8;
  -ms-flex: 0.8;
  flex: 0.8;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burger__text {
  padding-top: 60px;
  padding-left: 30px; }

.down-btn {
  margin: 0 auto; }

.best {
  background-image: url(../img/bg/best-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }

.best__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: center; }

.best__item {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 10px; }

.best__pic {
  margin-bottom: 35px; }

.best__title {
  padding-bottom: 120px; }

.best__subtitle {
  color: #000;
  font-size: 24px;
  margin-bottom: 12px; }

.best__text {
  font-weight: 100; }

.review__list {
  background: #000;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.review__hover {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(20, 20, 20, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

.review__item {
  position: relative;
  height: 50%;
  width: 25%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%); }
  .review__item:hover .review__hover {
    visibility: visible;
    opacity: 1;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s; }

.review__desc {
  width: 85%;
  padding-top: 50px;
  padding-left: 21px;
  line-height: 2; }

.review__title {
  font-family: 'gagalin';
  font-size: 14px;
  text-transform: uppercase;
  color: #fff; }

.review__text {
  font-size: 14px;
  font-weight: 200;
  color: #fff;
  margin-bottom: 30px; }

.btn--bg_black {
  max-width: 116px;
  padding: 11px 17px;
  background: #2f3234;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }
  .btn--bg_black:hover {
    background: #1f2122;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }

/*BLOCKS*/

/*# sourceMappingURL=main.css.map */