/*CONFIG*/
/*colors*/
@font-face {
  font-family: 'gagalinregular';
  src: url("gagalin-regular-webfont.woff2") format("woff2"), url("gagalin-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lifehackmedium';
  src: url("lifehack_medium-webfont.woff2") format("woff2"), url("lifehack_medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%; }

body {
  font-size: 16px;
  line-height: 1.42;
  font-family: 'Ubuntu';
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-weight: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    list-style: none; }

footer {
  position: relative;
  width: 100%; }

.wrap {
  position: relative;
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  overflow: hidden; }

.section {
  height: 100vh;
  min-height: 650px; }

/*SECTIONS*/
.section__burger {
  background-image: url(../img/bg/burgers-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }

.section__best {
  background-image: url(../img/bg/best-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }

.section__details {
  background-image: url(../img/bg/gradient-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }

.section__team {
  background-image: url(../img/bg/team-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }

.section__menu {
  background-image: url(../img/bg/menu-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }

.section__reply {
  background-color: #2f3234; }

.section__delivery {
  background-image: url(../img/bg/delivery-bg.png);
  background-size: cover;
  background-repeat: no-repeat; }

.section__contacts {
  background-color: #aacbd9; }

/*BLOCKS*/
