.burger {
  background-image: url(../img/bg/burgers-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.burger__container{
    justify-content: flex-start;
}

.header{
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav{
    margin-left: auto;
    margin-right: 20px;
}

.nav__list{
    display: flex;
    align-items: center;
    
}

.nav__item{
    display: flex;
    align-items: center;

    &:first-child{
        &::before{
            display: none;
        }
    }

    &:before{
        content: "";
        display: block;
        width: 4px;
        height: 4px;
        background: #fff;
        border-radius: 50%;
        margin: 0 16px;
    }
}

.nav__link{
    font-weight: 400;
    color: #fff;
    text-decoration: none;
}

.btn{
    font-weight: 400;
    padding: 9px 16px;
    background: $red;
    border-radius: 7px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;

}

.burger__content{
    display: flex;
    flex: 0.8;
    align-items: center;
}

.burger__text{
    padding-top: 60px;
    padding-left: 30px;
}

.down-btn{
    margin: 0 auto;
}